// Variables

// Media query breakpoints
$phone-header: 320px;
$tablet-header: 770px;
$tablet-nav-medium: 1025px;

// Roboto Font
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular-webfont.eot');
  src: url('/assets/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Roboto-Regular-webfont.woff') format('woff'),
    url('/assets/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
    url('/assets/fonts/Roboto-Regular-webfont.svg') format('svg');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Light-webfont.eot');
  src: url('/assets/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Roboto-Light-webfont.woff') format('woff'),
    url('/assets/fonts/Roboto-Light-webfont.ttf') format('truetype'),
    url('/assets/fonts/Roboto-Light-webfont.svg') format('svg');
  font-weight: 200;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto-LightItalic-webfont.eot');
  src: url('/src/assets/fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/src/assets/fonts/Roboto-LightItalic-webfont.woff') format('woff'),
    url('/src/assets/fonts/Roboto-LightItalic-webfont.ttf') format('truetype'),
    url('/src/assets/fonts/Roboto-LightItalic-webfont.svg') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto-Bold-webfont.eot');
  src: url('/src/assets/fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Roboto-Bold-webfont.woff') format('woff'),
    url('/assets/fonts/Roboto-Bold-webfont.ttf') format('truetype'),
    url('/assets/fonts/Roboto-Bold-webfont.svg') format('svg');
  font-weight: 600;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-BoldItalic-webfont.eot');
  src: url('/assets/fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
    url('/assets/fonts/Roboto-BoldItalic-webfont.ttf') format('truetype'),
    url('/assets/fonts/Roboto-BoldItalic-webfont.svg') format('svg');
  font-weight: 600;
  font-style: italic;
}

//Imports
@import 'normalize.scss';

* {
  box-sizing: border-box;
}
